<main>
  <!--The palette-->
  <div id="palette" class="d-flex flex-column text-bg-dark">
    <section>
      <span class="fs-4" *ngIf="!workflowNameInEdit" (click)="editWorkflowName()">{{workflowName}}</span>
      <input id="workflowNameInput"  type="text" *ngIf="workflowNameInEdit" [(ngModel)]="workflowName" (blur)="editWorkflowName()" />
    </section>

    <section>
      <label class="wide">Native Steps</label>
      <div
        class="plugin-op"
        *ngFor="let op of nativeOps"
        [ngFlowchartStep]="op.step">
        <i [class]="op.step.icon" width="16" height="16" fill="currentColor"></i>
        <span>{{ op.paletteName }}</span>
      </div>
    </section>

    <section>
      <label class="wide">Customized Steps</label>
      <div
        class="plugin-op"
        *ngFor="let op of customOps"
        [ngFlowchartStep]="op.step">
        <i [class]="op.step.icon" width="16" height="16" fill="currentColor"></i>
        <span>{{ op.paletteName }}</span>
        <!-- <i class="bi bi-x-circle-fill close-icon" *ngIf="op.step.data.id>0" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="stepToDelete=op"></i> -->
        <i class="bi bi-x-circle-fill close-icon" *ngIf="op.step.data.id>0" (click)="stepToDelete=op; confirmModalOnDeleteStep = true;"></i>
      </div>
    </section>

    <section>
      <div class="sub-section">
        <label for="step-gap-select" class="wide">Step Gap</label>
        <select
          #select_1
          name="step-gap-select"
          id="step-gap-select"
          class="wide"
          (change)="onGapChanged(select_1.value)">
          <option value="30">30</option>
          <option value="40" selected>40</option>
          <option value="60">60</option>
        </select>
      </div>
      <div class="sub-section">
        <input
          #input_1
          type="checkbox"
          name="sequential"
          (change)="onSequentialChange(input_1.checked)" />
        <label for="sequential">Sequential</label>
        
      </div>
      <div class="sub-section">
        <input
          #input_2
          type="checkbox"
          name="orientation"
          (change)="onOrientationChange(input_2.checked)" />
        <label for="orientation">Horizontal Orientation</label>
        
      </div>
      <div class="sub-section">
        <input
          type="checkbox"
          name="disabled"
          [ngModel] = disabled
          (change)="disabled = $any($event).target.checked" />
        <label for="disabled">Disabled</label>
        
      </div>
    </section>
    <section>
      <button class="btn btn-dark fs-4" type="button" (click)="confirmModalOnClearCanvas = true">
        <i class="bi bi-trash3"></i>
        Clear Flow
      </button>
    </section>
    <section>
      <button (click)="onGrow()">+</button>
      <button (click)="onShrink()">-</button>
      <button (click)="onReset()">Reset</button>
    </section>
    <ng-template #normalStep let-data>
      <div
        class="card"
        [attr.name]="data.data.name"
        #card
        (click)="onDelete(data.id)">
        <span>{{ data.data.name }}</span>
      </div>
    </ng-template>
  </div>

  <!--The top buttons.-->
  <div id="top-rightrow">
    <!-- actions bar-->
    <div class="d-inline-flex gap-1 text-bg-dark">
      <div class="left-div">
        <button class="btn btn-dark fs-4" type="button" (click)="saveWorkflow()">
          <i class="bi bi-save"></i>
          Save
        </button>
        <button class="btn btn-dark fs-4" type="button" (click)="showFlowData()">
          <i class="bi bi-download"></i>
          Export
        </button>
        <button class="btn btn-dark fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="bi bi-play-btn"></i>
          Execute
        </button>
        
      </div>
      <div class="right-div">
        <button class="btn btn-dark fs-4" *ngIf="workflowStack.length>0" type="button" (click)="goBack()">
          <i class="bi bi-arrow-return-right"></i>
          Back
        </button>
        <button class="btn btn-dark fs-4" *ngIf="workflowStack.length==0" disabled type="button" (click)="goBack()">
          <i class="bi bi-arrow-return-right"></i>
          Back
        </button>
        <button class="btn btn-dark fs-4" type="button" routerLink="/workflowlist">
          <i class="bi bi-house"></i>
          Home
        </button>
      </div>
      
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card-body">
        <button type="button" class="btn btn-outline-dark exe-button" (click)="executeAll()">
          <i class="bi bi-chevron-double-right"></i>
          Execute All
        </button>
        <button type="button" class="btn btn-outline-dark exe-button" (click)="executeStep()">
          <i class="bi bi-chevron-bar-right"></i>
          Execute Step
        </button>
        <button type="button" class="btn btn-outline-dark exe-button" (click)="executeAllSince()">
          <i class="bi bi-chevron-right"></i>
          Execute All Since
        </button>
      </div>
    </div>
    
    
    <!--The canvas.-->
    <div
      id="canvas"
      ngFlowchartCanvas
      [ngFlowchartOptions]="options"
      [ngFlowchartCallbacks]="callbacks"
      [disabled]="disabled">
    </div>
  </div>



</main>


<!-- Generic modal for confirmarion.-->
<app-confirm-modal 
  *ngIf="confirmModalOnDeleteStep" 
  [bodyText]="'Are you sure to delete processor \'' + stepToDelete.step.data.name + '\'?'"
  (confirmEvent)="confirmDeleteCustomizedStep($event)"
></app-confirm-modal>

<!-- Generic modal for confirmarion.-->
<app-confirm-modal 
  *ngIf="confirmModalOnClearCanvas" 
  [bodyText]="'All components will be removed if you confirm.'"
  (confirmEvent)="confirmClearFlow($event)"
></app-confirm-modal>

<!--Generic modal for notice.-->
<app-notice-modal
  *ngIf="noticeModalOn"
  [bodyText]="noticeModalContent"
  (closeEvent)="noticeModalOn = false"
></app-notice-modal>