.chat-container {
    width: 90%;
    height: 85%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
  }
   
  .message-container {
    height: 85%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .message {
    width: 80%;
    border-bottom: 1px solid #eee;
    margin: 10px;
    border-radius: 5px;
  }

  .user-message {
    background-color: rgba(90, 88, 88, 0.479);
    text-align: right;
  }

  .assistant-message {
    background-color: chartreuse;
    text-align: left;
  }

  .input{
    width: 100%;
  }
  .btn {
    width: 100%;
  }
   