
.process-step {
    height: 100px;
    width: 250px;
    border-radius: 4px;
    padding: 1em;
    display: block;
  
    justify-content: space-between;
}

.before-run {
    background: #605e5e;
    color: white;
}

.focused {
    border: 5px solid rgb(0, 0, 0);
}

.success {
  background: #05ae0e;
  color: rgb(0, 0, 0);
}

.exception {
  background: #e20909;
  color: rgb(0, 0, 0);
}
  
.exe-status-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bi {
  padding: 5px;
}

.popup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  height: 80%;
  float: left;
}

.modal-chat {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
  height: 80%;
  float: right;
}

.step-btns {
  margin: 5px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.log-text {
  height: 300px;
  resize: none;
}