
<div class = "popup-modal">
    <div class="modal-content">
        <i class="bi bi-x-circle-fill close-icon" (click)="closeModal()"></i>
            <div class="mb-3">
                <label class="form-label">Step Name</label>
                <input type="text" class="form-control" [(ngModel)]="data.name" />
           </div>
            <div class="mb-3">
                <label class="form-label">Python Script</label>
                <ngx-codemirror [(ngModel)]="data.pythonCode" [options]="{lineNumbers: true, theme: 'material', mode: 'python'}"></ngx-codemirror>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark" (click)="saveAsCustomizedStep()">save as customized step</button>
                <button type="button" class="btn btn-dark" *ngIf="!showChat" (click)="openChat()">ask AI</button>
                <button type="button" class="btn btn-dark" *ngIf="showChat" (click)="closeChat()">close chat</button>
            </div>
        </div>
    <div class="modal-chat" *ngIf="showChat">
        <div class="chat-container">
            <div class="message-container">
              <div [class]="msg.role=='user' ?  'message user-message':'message assistant-message'" *ngFor="let msg of messages">{{ msg.content }}</div>
            </div>
            <input class="input" type="text" [(ngModel)]="userInput" placeholder="Type your message...">
            <button class="btn btn-dark" (click)="sendMessage()">Send</button>
          </div>
    </div>
</div>